<h1>About Me</h1>
<div class="profileImage">
  <img
    src="assets/IMG_5375.jpg"
    alt="Christopher Polizzi Profile Image"
    width="200px"
  />
</div>
<div>
  <p>
    Hello, my name is Christopher Polizzi. I am a father, software engineer,
    truck driver, and nerd. Interesting combination, huh?
  </p>
  <p>
    I am a big believer in the next generation. I have fostered and adopted six
    children. Raising children is one of my passions and I strive to be a good
    role model for them. I want to teach them to be kind, compassionate, and
    hardworking individuals. I want to give them the tools they need to succeed
    in life and be there for them whenever they need me.
  </p>
  <p>
    I have worked in software development for about 15 plus years, specializing
    in web development. I love learning new technologies and sharing my
    knowledge with others.
  </p>
  <p>
    When I lost my IT job in 2024, I had trouble finding another IT job. So I
    worked as an uber driver for a while. I was losing money each month and
    needed to figure out a way to pay my bills and support my family. Truck
    driving became a new opportunity that presented itself. I decided to get my
    commercial driver's license (CDL) and become a truck driver. There is
    something about driving a big rig that I find exhilarating. The open road,
    the freedom, and the sense of adventure. I really miss my kids when I'm on
    the road, but I know that I'm doing this to provide for them. I have been
    keeping an eye out for other opportinities to be able to be with my family
    more.
  </p>
  <p>
    I really enjoy board games and video games. Some of my favorite board games
    are Pandemic, Catan, and Sushi Go. I even like dungeons and dragons. The
    thing I love about board games is that they bring people together. Also, I
    love the simplicity of the construction and the deep strategy. As for video
    games, I enjoy strategy games, puzzle games, RPGs, and Exploring games.I
    really like retro games as well. Some of my favorite video games are Final
    Fantasy 7, Subnautica, Tetris Attack, and Rock n' Roll Racing.
  </p>
</div>
