.menu div {
    margin-right: 15px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(21, 153, 230, 1);
    text-align: center;
}

.menu div:hover{
    background-color: lightgray;
}

.menu div a {
    text-decoration: none;
    color: black;
    font-family: 'Vend Sans', sans-serif;
    font-size: auto;
}

.menu {
    display: flex;
    justify-content: right;
}