li {
    display: inline;
    margin-right: 15px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(21, 153, 230, 1)
}

li:hover{
    background-color: lightgray;
}

li a {
    text-decoration: none;
    color: black;
    font-family: 'Jersey 10', sans-serif;
    font-size: 25px;
}

.menu {
    text-align: right;
}