.main h1 {
  border: 1px solid #000;
  text-align: center;
  border-radius: 10px;
  font-family: "Sigmar One", sans-serif;
  color: white;
  background: #282f33;
  background: radial-gradient(
    circle,
    rgba(40, 47, 51, 1) 0%,
    rgba(53, 99, 135, 1) 50%,
    rgba(21, 153, 230, 1) 100%
  );
}

.content {
  margin-left: 25px;
  margin-right: 25px;
}
