<h2>Hello, Welcome To My Developer Blog!</h2>
<p>
  I decided to create a blog to help share a new idea I had for a computer game.
  I thought it would be be a good way to document my thought process and
  development journey as I work on this project. Plus, I can get input for ways
  to improve upon the game and bring everyone else for the ride.
</p>
<div class="blogImageLeft">
  <img
    src="assets/apocalyptic-destruction-war-zone-landscape.jpg"
    width="220px"
  />
  <div><a href="http://www.freepik.com">Desiged by Freepik</a></div>
</div>
<p>
  I am a big fan of strategy games like Starcraft, Command and Conquer, and
  Warcraft. I loved playing these games when I was younger and still enjoy them
  today. I liked the strategy and tactics involved in managing resources,
  building bases, and commanding armies to defeat opponents.
</p>
<p>
  The problem I have with most of these strategy games is that they focus too
  much on micro control of individual units. While I enjoy controlling units, I
  think it is a lot of work to manage every single unit on the battlefield. It
  can be overwhelming and distracting from the bigger picture of strategy and
  tactics. Even with resource management, you have to tell each individual unit
  to gather resources, which can be tedious and time-consuming. Or building
  bases, where you have to select a worker and select a place to build it.
</p>
<div class="blogImageRight">
  <img src="assets/DJV MAR 786-01.jpg" width="220px" />
  <div>
    <a
      href="https://www.freepik.com/free-vector/hand-holding-single-gear_29108532.htm"
      >Image by gstudioimagen1 on Freepik</a
    >
  </div>
</div>
<p>
  I want to create a war strategy game that would focus more on macro control
  versus micro control. In other words, I want to create a game where the player
  focuses on giving orders to large groups of units and managing resources,
  rather than controlling individual units. This would mimic real-world military
  strategy more closely, where generals give orders to battalions and companies
  rather than individual soldiers.
</p>
<p>
  I want to create a different way to handle base building and resource
  management that would simplify the process. For example, instead of looking
  for resources yourself, you can order your units to search for resources in
  specific areas. You would recieve reports on what they find and then decide if
  you want gather from those locations. Your units would handle the logistics of
  gathering the resources. You just give the orders. And for base building, you
  would designate the area for where you want a building and your units would
  handle the rest.
</p>
<div class="blogImageLeft">
  <img src="assets/45bf129d-3750-4659-b92f-c1738a2f7f47.jpg" width="220px" />
  <div>
    <a
      href="https://www.freepik.com/free-vector/boxing-gloves-clash-comic-style_414653462.htm"
      >Image by brgfx on Freepik</a
    >
  </div>
</div>
<p>
  In terms of combat, I want to create a system where you can give orders to
  groups of units, such as attacking a specific location or defending an area.
  You would not have to micromanage each unit's movements and actions. Instead,
  you would focus on the overall strategy and tactics of the battle. Units would
  still have advantages and disadvantages against other unit types, so you would
  have to consider the composition of your army and how to best utilize your
  units. You would also be able to employ different stances, such as aggressive,
  defensive, or hold position, to further refine your strategy. Your units would
  fight battles automatically based on their rules of engagement and the orders
  you give them. You would also be able to train your squads to perform special
  abilites. For example, if you trained your squad to be able to use focused
  fire to target high-value enemy units first, they would do so during combat
  without you having to micromanage them.
</p>
<p>
  Overall, I want to create a war strategy game that would be more focused on
  strategy and tactics, rather than micro management. I think this would make
  the game more enjoyable and engaging for players who want to focus on the big
  picture of warfare.
</p>
