h2 {
  font-family: "Vend Sans", sans-serif;
}

p {
  font-family: "Vend Sans", sans-serif;
}

.blogImageLeft {
  float: left;
  text-align: center;
  padding-right: 20px;
}

.blogImageLeft img {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.blogImageLeft a {
  font-size: xx-small;
}

.blogImageRight {
  float: right;
  text-align: center;
  padding-right: 20px;
}

.blogImageRight img {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.blogImageRight a {
  font-size: xx-small;
}
