h2 {
    font-family: 'Vend Sans', sans-serif;
}

p {
    font-family: 'Vend Sans', sans-serif;
}

.blogImage {
    float: left;
    clip-path: circle(40%);
    shape-outside: circle(45%);
}

.blogImage img {
    border-radius: 50%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}